<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <style>
      body { font-family: Arial; }
      h1 { color: darkblue; }
    </style>
  </head>
  <body>
    <h1>Shipment #: {{data.dispatch}}</h1>
    <p>Client: {{data.client}}</p>
    <p>Pickup Address: {{data.pickaddress}}</p>
    <p>Delivery Address: {{data.receiveraddress}}</p>
  </body>
</html>
